body{
    background-image:url(../images/black_lozenge.png);
    font-family:'Roboto Mono', monospace;
}

.card-header{
    color:#fff;
    background:#173e43;
}

.card-body{
    background:#dddfd4;
    color:#173e43;
    padding:5px;
}

.card{
    margin-right: 12px;
}

